@font-face {
    font-family: Lexend-Reg;
    src: url(font/LexendTera-Regular.ttf);
}

@font-face {
    font-family: Lato-Reg;
    src: url(font/Lato-Regular.ttf);
}

@font-face {
    font-family: DM-Sans;
    src: url(font/DMSans_18pt-SemiBold.ttf);
}

@font-face {
    font-family: DM-Sans-Reg;
    src: url(font/DMSans_18pt-Regular.ttf);
}

@font-face {
    font-family: DM-Sans-Light;
    src: url(font/DMSans_18pt-ExtraLight.ttf);
}


.formBody{
    margin: 0 auto;
    width: 80%;
}
.formHeading{
    height: 250px;
    margin-bottom: 30px;
    padding-top: 50px;

}
.formHeading>p{
    color: #555;
    font-size: 24px;
}

.formHeading>h1{
    font-size: 64px;
    padding-bottom: 10px;
}

.formHeading>h6{
    font-size: 22px;
}

.formBody h6,h1,p{
    text-align: center;
}

.contactForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 22px;
    color: #282938;
}

.contactForm>div{
    margin-bottom: 10px;
}

.personalInfo{
    border: solid 1px #007E85;
    border-radius: 5px;
    width: 90%;
    padding-left: 5px;
    height: 60px;
    background-color: transparent;

}

.topicSelect{
    width: 95%;
    height: 60px;
    border-radius: 5px;
    border: solid 1px #007E85;
    background-color: transparent;
}

.typeMessage{
    width: 95%;
    height: 150px;
    padding-left: 5px;
    border-radius: 5px;
    border: solid 1px #007E85;
    background-color: transparent;
}

.tickBox{
   width: 18px;
   height: 18px;
   margin-right: 10px;
}

.contactForm button{
    background-color: #007E85;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 60px;
}

.subscription{
    padding-top: 70px;
    height: 250px;
}

.subscription input{
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    margin-right: 10px;
}

.subscription button{
    color: white;
    background-color: #007E85;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.formFooter{
    width: 100%;
    height: 350px;
    background-color: #007E85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
}

.footerLogo{
    width: 30% !important;
    height: 270px;
    margin-left: 50px;
    font-family: DM-Sans-Light;
}

.footerLogo>span{
    font-size: 24px;
    font-family: Lexend-Reg;
}

.formFooter>div{
    width: 15%;
}

.formFooter a{
    text-decoration: none;
    color: white;
    font-family: DM-Sans-Light;
}

.formFooter li{
    list-style: none;
    margin: 0px;
    line-height: 40px;
}

.formFooter p{
    margin-bottom: 20px;
}

.formFooter i{
    margin-right: 5px;
    padding: 2px 2px;
    border-radius: 5px;
}

#listHeading{
    line-height: 80px;
    font-family: DM-Sans-Reg;
    font-weight: 700;
}

.mediaFooter{
    width: 100% !important;
    justify-content: space-evenly;
    display: none;
}

@media screen and (max-width: 1070px){
    .mediaFooter{
        width: 100% !important;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        background-color: #007E85;
        color: white;
    }

    .formFooter{
        display: none;
    }

    .mediaFooter span{
        font-size: 24px;
        font-family: Lexend-Reg;
    }

    .mediaFooter li{
        list-style: none;
        margin: 0px;
        line-height: 40px;
        text-decoration: none;
        color: white;
        font-family: DM-Sans-Light;
    }
    
    .footerLogo>span{
        font-size: 24px;
        font-family: Lexend-Reg;
    }

    #listHeading{
        line-height: 80px;
        font-family: DM-Sans-Reg;
        font-weight: 700;
    }
}

